### Introduction to the Data: Births in the US

In [3]:
f = open("US_births_1994-2003_CDC_NCHS.csv", "r")
text = f.read()
lines = text.split("\n")
print(lines[0:10])

['year,month,date_of_month,day_of_week,births', '1994,1,1,6,8096', '1994,1,2,7,7772', '1994,1,3,1,10142', '1994,1,4,2,11248', '1994,1,5,3,11053', '1994,1,6,4,11406', '1994,1,7,5,11251', '1994,1,8,6,8653', '1994,1,9,7,7910']

### Convert Data Into List of Lists
Data needs to be converted into list or list where each nested list contains integer values. Header row needs to be removed.

In [4]:
def read_csv(csv_filename):
    string_list = open(csv_filename, "r").read().split("\n")[1:]
    final_list = []
    

    for item in string_list: 
        string_fields = item.split(",")
        int_fields = []
        for value in string_fields:
            int_fields.append(int(value))
        final_list.append(int_fields)
    
    return final_list

In [5]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")
print(cdc_list[:10])

[[1994, 1, 1, 6, 8096], [1994, 1, 2, 7, 7772], [1994, 1, 3, 1, 10142], [1994, 1, 4, 2, 11248], [1994, 1, 5, 3, 11053], [1994, 1, 6, 4, 11406], [1994, 1, 7, 5, 11251], [1994, 1, 8, 6, 8653], [1994, 1, 9, 7, 7910], [1994, 1, 10, 1, 10498]]

### Analyzing total number of births that occured in each month

In [6]:
def month_births(birth_list):
    births_per_month = {}
    
    for item in birth_list:
        month = item[1]
        birth_num = item[4]
        if month in births_per_month:
            births_per_month[month] += birth_num
        else:
            births_per_month[month] = birth_num
            
    return births_per_month

In [7]:
cdc_month_births = month_births(cdc_list)
print(cdc_month_births)

{1: 3232517, 2: 3018140, 3: 3322069, 4: 3185314, 5: 3350907, 6: 3296530, 7: 3498783, 8: 3525858, 9: 3439698, 10: 3378814, 11: 3171647, 12: 3301860}

### Analyzing total number of births that occured each unique day of the week

In [8]:
def dow_births(birth_list):
    births_per_dow = {}
    
    for item in birth_list:
        dow = item[3]
        birth_num = item[4]
        if dow in births_per_dow:
            births_per_dow[dow] += birth_num
        else:
            births_per_dow[dow] = birth_num
            
    return births_per_dow

In [9]:
cdc_day_births = dow_births(cdc_list)
print(cdc_day_births)

{1: 5789166, 2: 6446196, 3: 6322855, 4: 6288429, 5: 6233657, 6: 4562111, 7: 4079723}

### Generalizing the Function

In [10]:
def calc_counts(data, column):
    totals = {}
    
    for item in data:
        parameter = item[column]
        num = item[4]
        if parameter in totals:
            totals[parameter] += num
        else:
            totals[parameter] = num
            
    return totals

In [11]:
cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1)
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dow_births = calc_counts(cdc_list, 3)

In [12]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [13]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [14]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [15]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

### Calculating Min and Max of Dictionaries

In [16]:
def min_max(dictionary):
    minimum = min(dictionary.values())
    maximum = max(dictionary.values())
    min_and_max = [minimum, maximum]
    return min_and_max

In [17]:
min_max_dow = min_max(cdc_dow_births)
print(min_max_dow)

[4079723, 6446196]

### Calculating Differences Across Years

In [68]:
def year_differences(year_birth_dict):
    previous_year = 0
    previous_total = 0
    for key, value in sorted(year_birth_dict.items()):
        current_year = key
        current_total = value
        difference = 0
        if previous_year == 0:
            print("Birth change from previous year to " + str(current_year) + 
                  " not available.")
        elif current_total > previous_total:
            difference = current_total - previous_total
            print("From " + str(previous_year) + " to " + str(current_year) + 
                 " births grew by " + str(difference))
        elif current_total < previous_total:
            difference =  previous_total - current_total
            print("From " + str(previous_year) + " to " + str(current_year) + 
                 " births decreased by " + str(difference))
        previous_year = current_year
        previous_total = current_total

In [69]:
year_differences(cdc_year_births)

Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 53178
From 1995 to 1996 births decreased by 8095
From 1996 to 1997 births decreased by 10600
From 1997 to 1998 births grew by 60659
From 1998 to 1999 births grew by 17864
From 1999 to 2000 births grew by 99397
From 2000 to 2001 births decreased by 32881
From 2001 to 2002 births decreased by 4207
From 2002 to 2003 births grew by 68224

#### Generalizing Difference Calculation

In [66]:
def cross_year_differences(data, col=0):
    previous_year = 0
    previous_total = 0
    parameters = []
    
    #acquire list of what parameter is needed for differences across years
    for item in data:
        parameter = item[col]
        if parameter not in parameters:
            parameters.append(parameter)
    print(parameters)  
    
    #calculate total for each year for each parameter
    for value in sorted(parameters):
        births_per_parameter = {}
        for item in data:
            year = item[0]
            total = item[4]
            if item[col] == value:
                if year in births_per_parameter:
                    births_per_parameter[year] += total
                else:
                    births_per_parameter[year] = total
        print("For " + str(value) + ":")   
        #skip resetting previous year values if only interested in year differences
        if col != 0:
            previous_year = 0
            previous_total = 0
        
        #display results and calucate differences in consecutive years
        for key, value in sorted(births_per_parameter.items()):
            current_year = key
            current_total = value
            difference = 0
            if previous_year == 0:
                print("Birth change from previous year to " + str(current_year) + 
                          " not available.")
            elif current_total > previous_total:
                difference = current_total - previous_total
                print("From " + str(previous_year) + " to " + str(current_year) + 
                         " births grew by " + str(difference))
            elif current_total < previous_total:
                difference =  previous_total - current_total
                print("From " + str(previous_year) + " to " + str(current_year) + 
                         " births decreased by " + str(difference))
            previous_year = current_year
            previous_total = current_total

In [57]:
#difference in each month per year
cross_year_differences(cdc_list,1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
For 1:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 4692
From 1995 to 1996 births decreased by 1730
From 1996 to 1997 births grew by 2928
From 1997 to 1998 births grew by 2129
From 1998 to 1999 births decreased by 158
From 1999 to 2000 births grew by 10926
From 2000 to 2001 births grew by 5090
From 2001 to 2002 births decreased by 4524
From 2002 to 2003 births decreased by 871
For 2:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 6233
From 1995 to 1996 births grew by 6669
From 1996 to 1997 births decreased by 10222
From 1997 to 1998 births grew by 7170
From 1998 to 1999 births decreased by 1143
From 1999 to 2000 births grew by 19809
From 2000 to 2001 births decreased by 13843
From 2001 to 2002 births grew by 443
From 2002 to 2003 births grew by 3271
For 3:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 11233
From 1995 to 1996 births decreased by 5922
From 1996 to 1997 births decreased by 1369
From 1997 to 1998 births grew by 8224
From 1998 to 1999 births grew by 3503
From 1999 to 2000 births grew by 7614
From 2000 to 2001 births decreased by 1869
From 2001 to 2002 births decreased by 7179
From 2002 to 2003 births grew by 5415
For 4:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 8273
From 1995 to 1996 births grew by 3476
From 1996 to 1997 births grew by 1635
From 1997 to 1998 births grew by 5528
From 1998 to 1999 births decreased by 2869
From 1999 to 2000 births grew by 291
From 2000 to 2001 births grew by 6433
From 2001 to 2002 births grew by 819
From 2002 to 2003 births grew by 5674
For 5:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 4248
From 1995 to 1996 births decreased by 8835
From 1996 to 1997 births grew by 4623
From 1997 to 1998 births grew by 188
From 1998 to 1999 births decreased by 1993
From 1999 to 2000 births grew by 12681
From 2000 to 2001 births grew by 2810
From 2001 to 2002 births decreased by 5010
From 2002 to 2003 births grew by 7747
For 6:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 68
From 1995 to 1996 births decreased by 11280
From 1996 to 1997 births grew by 3342
From 1997 to 1998 births grew by 5224
From 1998 to 1999 births grew by 5110
From 1999 to 2000 births grew by 9005
From 2000 to 2001 births decreased by 10121
From 2001 to 2002 births decreased by 3497
From 2002 to 2003 births grew by 9837
For 7:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 4989
From 1995 to 1996 births grew by 4289
From 1996 to 1997 births grew by 1344
From 1997 to 1998 births grew by 2145
From 1998 to 1999 births grew by 1161
From 1999 to 2000 births decreased by 837
From 2000 to 2001 births grew by 2072
From 2001 to 2002 births grew by 6622
From 2002 to 2003 births grew by 6557
For 8:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 1436
From 1995 to 1996 births decreased by 4420
From 1996 to 1997 births decreased by 7195
From 1997 to 1998 births grew by 5614
From 1998 to 1999 births grew by 6635
From 1999 to 2000 births grew by 8709
From 2000 to 2001 births grew by 1722
From 2001 to 2002 births decreased by 2385
From 2002 to 2003 births grew by 686
For 9:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 120
From 1995 to 1996 births decreased by 2755
From 1996 to 1997 births decreased by 2748
From 1997 to 1998 births grew by 9784
From 1998 to 1999 births grew by 6025
From 1999 to 2000 births decreased by 1800
From 2000 to 2001 births decreased by 5045
From 2001 to 2002 births grew by 6250
From 2002 to 2003 births grew by 10830
For 10:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 160
From 1995 to 1996 births grew by 6334
From 1996 to 1997 births decreased by 7689
From 1997 to 1998 births grew by 4133
From 1998 to 1999 births grew by 190
From 1999 to 2000 births grew by 10941
From 2000 to 2001 births grew by 153
From 2001 to 2002 births grew by 1740
From 2002 to 2003 births grew by 8234
For 11:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 8580
From 1995 to 1996 births decreased by 1420
From 1996 to 1997 births decreased by 2115
From 1997 to 1998 births grew by 5959
From 1998 to 1999 births grew by 2048
From 1999 to 2000 births grew by 18522
From 2000 to 2001 births decreased by 10065
From 2001 to 2002 births decreased by 5173
From 2002 to 2003 births grew by 1521
For 12:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 11778
From 1995 to 1996 births grew by 7499
From 1996 to 1997 births grew by 6866
From 1997 to 1998 births grew by 4561
From 1998 to 1999 births decreased by 645
From 1999 to 2000 births grew by 3536
From 2000 to 2001 births decreased by 10218
From 2001 to 2002 births grew by 7687
From 2002 to 2003 births grew by 9323

In [58]:
#difference in each date of the month per year
cross_year_differences(cdc_list,2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
For 1:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 4520
From 1995 to 1996 births decreased by 2389
From 1996 to 1997 births decreased by 4745
From 1997 to 1998 births grew by 3585
From 1998 to 1999 births grew by 6043
From 1999 to 2000 births grew by 4070
From 2000 to 2001 births decreased by 8062
From 2001 to 2002 births grew by 2226
From 2002 to 2003 births decreased by 3857
For 2:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 4872
From 1995 to 1996 births grew by 2576
From 1996 to 1997 births decreased by 1829
From 1997 to 1998 births grew by 7479
From 1998 to 1999 births grew by 2029
From 1999 to 2000 births decreased by 6624
From 2000 to 2001 births grew by 5204
From 2001 to 2002 births decreased by 5048
From 2002 to 2003 births grew by 3863
For 3:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 621
From 1995 to 1996 births decreased by 689
From 1996 to 1997 births grew by 6734
From 1997 to 1998 births decreased by 1737
From 1998 to 1999 births decreased by 2534
From 1999 to 2000 births grew by 3452
From 2000 to 2001 births decreased by 3953
From 2001 to 2002 births grew by 1902
From 2002 to 2003 births grew by 12493
For 4:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 7224
From 1995 to 1996 births grew by 5623
From 1996 to 1997 births grew by 2235
From 1997 to 1998 births decreased by 1249
From 1998 to 1999 births decreased by 1149
From 1999 to 2000 births grew by 2373
From 2000 to 2001 births decreased by 2615
From 2001 to 2002 births grew by 8072
From 2002 to 2003 births grew by 639
For 5:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 447
From 1995 to 1996 births grew by 5499
From 1996 to 1997 births decreased by 5214
From 1997 to 1998 births grew by 157
From 1998 to 1999 births grew by 2727
From 1999 to 2000 births grew by 1699
From 2000 to 2001 births grew by 8067
From 2001 to 2002 births decreased by 3091
From 2002 to 2003 births decreased by 3746
For 6:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 4387
From 1995 to 1996 births decreased by 5620
From 1996 to 1997 births decreased by 3392
From 1997 to 1998 births grew by 6452
From 1998 to 1999 births decreased by 5418
From 1999 to 2000 births grew by 10606
From 2000 to 2001 births grew by 1289
From 2001 to 2002 births decreased by 6887
From 2002 to 2003 births grew by 966
For 7:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 1595
From 1995 to 1996 births decreased by 10494
From 1996 to 1997 births grew by 6785
From 1997 to 1998 births decreased by 3917
From 1998 to 1999 births grew by 3147
From 1999 to 2000 births grew by 11338
From 2000 to 2001 births decreased by 8396
From 2001 to 2002 births decreased by 1890
From 2002 to 2003 births grew by 6364
For 8:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 6024
From 1995 to 1996 births decreased by 45
From 1996 to 1997 births decreased by 1186
From 1997 to 1998 births grew by 1303
From 1998 to 1999 births grew by 8106
From 1999 to 2000 births decreased by 1333
From 2000 to 2001 births decreased by 4500
From 2001 to 2002 births grew by 3728
From 2002 to 2003 births grew by 603
For 9:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 3112
From 1995 to 1996 births grew by 4799
From 1996 to 1997 births decreased by 5104
From 1997 to 1998 births grew by 9977
From 1998 to 1999 births decreased by 104
From 1999 to 2000 births decreased by 7274
From 2000 to 2001 births grew by 6194
From 2001 to 2002 births decreased by 2393
From 2002 to 2003 births grew by 684
For 10:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 2217
From 1995 to 1996 births decreased by 3039
From 1996 to 1997 births grew by 5134
From 1997 to 1998 births grew by 1475
From 1998 to 1999 births decreased by 4097
From 1999 to 2000 births grew by 4632
From 2000 to 2001 births decreased by 1183
From 2001 to 2002 births decreased by 1535
From 2002 to 2003 births grew by 10861
For 11:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 2147
From 1995 to 1996 births grew by 556
From 1996 to 1997 births grew by 2458
From 1997 to 1998 births decreased by 2934
From 1998 to 1999 births grew by 280
From 1999 to 2000 births grew by 8710
From 2000 to 2001 births decreased by 6211
From 2001 to 2002 births grew by 5589
From 2002 to 2003 births grew by 1749
For 12:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 2442
From 1995 to 1996 births grew by 5166
From 1996 to 1997 births decreased by 6176
From 1997 to 1998 births grew by 857
From 1998 to 1999 births grew by 4675
From 1999 to 2000 births grew by 1011
From 2000 to 2001 births grew by 6536
From 2001 to 2002 births decreased by 2400
From 2002 to 2003 births decreased by 3530
For 13:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 3305
From 1995 to 1996 births decreased by 4923
From 1996 to 1997 births decreased by 2306
From 1997 to 1998 births grew by 4694
From 1998 to 1999 births decreased by 185
From 1999 to 2000 births grew by 4635
From 2000 to 2001 births grew by 367
From 2001 to 2002 births decreased by 3769
From 2002 to 2003 births grew by 333
For 14:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 3098
From 1995 to 1996 births decreased by 9100
From 1996 to 1997 births grew by 6013
From 1997 to 1998 births grew by 999
From 1998 to 1999 births decreased by 1578
From 1999 to 2000 births grew by 11617
From 2000 to 2001 births decreased by 8198
From 2001 to 2002 births decreased by 1331
From 2002 to 2003 births grew by 6208
For 15:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 5493
From 1995 to 1996 births decreased by 1134
From 1996 to 1997 births decreased by 535
From 1997 to 1998 births grew by 1968
From 1998 to 1999 births grew by 5754
From 1999 to 2000 births decreased by 984
From 2000 to 2001 births decreased by 4031
From 2001 to 2002 births grew by 4275
From 2002 to 2003 births decreased by 104
For 16:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 4213
From 1995 to 1996 births grew by 5362
From 1996 to 1997 births decreased by 4341
From 1997 to 1998 births grew by 7246
From 1998 to 1999 births decreased by 356
From 1999 to 2000 births decreased by 5379
From 2000 to 2001 births grew by 5472
From 2001 to 2002 births decreased by 1633
From 2002 to 2003 births grew by 1490
For 17:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 1531
From 1995 to 1996 births decreased by 1683
From 1996 to 1997 births grew by 4224
From 1997 to 1998 births grew by 2126
From 1998 to 1999 births decreased by 4502
From 1999 to 2000 births grew by 3737
From 2000 to 2001 births decreased by 493
From 2001 to 2002 births decreased by 2373
From 2002 to 2003 births grew by 9661
For 18:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 3001
From 1995 to 1996 births grew by 1526
From 1996 to 1997 births grew by 1540
From 1997 to 1998 births decreased by 890
From 1998 to 1999 births decreased by 2002
From 1999 to 2000 births grew by 9334
From 2000 to 2001 births decreased by 6412
From 2001 to 2002 births grew by 7827
From 2002 to 2003 births grew by 302
For 19:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 1528
From 1995 to 1996 births grew by 5259
From 1996 to 1997 births decreased by 4713
From 1997 to 1998 births decreased by 797
From 1998 to 1999 births grew by 4120
From 1999 to 2000 births grew by 1444
From 2000 to 2001 births grew by 5494
From 2001 to 2002 births decreased by 1302
From 2002 to 2003 births decreased by 3084
For 20:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 3288
From 1995 to 1996 births decreased by 4505
From 1996 to 1997 births decreased by 2446
From 1997 to 1998 births grew by 5355
From 1998 to 1999 births decreased by 740
From 1999 to 2000 births grew by 5707
From 2000 to 2001 births grew by 1870
From 2001 to 2002 births decreased by 5675
From 2002 to 2003 births decreased by 1037
For 21:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 2025
From 1995 to 1996 births decreased by 9714
From 1996 to 1997 births grew by 5952
From 1997 to 1998 births grew by 1639
From 1998 to 1999 births decreased by 818
From 1999 to 2000 births grew by 8411
From 2000 to 2001 births decreased by 6419
From 2001 to 2002 births decreased by 2088
From 2002 to 2003 births grew by 6945
For 22:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 6887
From 1995 to 1996 births grew by 1267
From 1996 to 1997 births grew by 837
From 1997 to 1998 births decreased by 148
From 1998 to 1999 births grew by 6501
From 1999 to 2000 births decreased by 3990
From 2000 to 2001 births decreased by 6209
From 2001 to 2002 births grew by 9022
From 2002 to 2003 births grew by 885
For 23:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 4731
From 1995 to 1996 births grew by 7933
From 1996 to 1997 births decreased by 3514
From 1997 to 1998 births grew by 7212
From 1998 to 1999 births decreased by 959
From 1999 to 2000 births decreased by 11096
From 2000 to 2001 births grew by 8781
From 2001 to 2002 births grew by 1445
From 2002 to 2003 births grew by 567
For 24:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 2362
From 1995 to 1996 births decreased by 2552
From 1996 to 1997 births grew by 5724
From 1997 to 1998 births grew by 622
From 1998 to 1999 births decreased by 5663
From 1999 to 2000 births grew by 4678
From 2000 to 2001 births decreased by 1638
From 2001 to 2002 births decreased by 401
From 2002 to 2003 births grew by 10410
For 25:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 4649
From 1995 to 1996 births grew by 1506
From 1996 to 1997 births grew by 1818
From 1997 to 1998 births decreased by 7073
From 1998 to 1999 births grew by 1930
From 1999 to 2000 births grew by 9146
From 2000 to 2001 births decreased by 5867
From 2001 to 2002 births grew by 8184
From 2002 to 2003 births grew by 300
For 26:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 1987
From 1995 to 1996 births grew by 7189
From 1996 to 1997 births decreased by 9593
From 1997 to 1998 births decreased by 377
From 1998 to 1999 births grew by 6211
From 1999 to 2000 births grew by 1956
From 2000 to 2001 births grew by 5713
From 2001 to 2002 births decreased by 777
From 2002 to 2003 births decreased by 8424
For 27:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 5175
From 1995 to 1996 births decreased by 7030
From 1996 to 1997 births decreased by 4952
From 1997 to 1998 births grew by 7466
From 1998 to 1999 births grew by 1492
From 1999 to 2000 births grew by 5645
From 2000 to 2001 births grew by 1696
From 2001 to 2002 births decreased by 9059
From 2002 to 2003 births decreased by 2092
For 28:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 1384
From 1995 to 1996 births decreased by 14626
From 1996 to 1997 births grew by 8080
From 1997 to 1998 births grew by 3377
From 1998 to 1999 births grew by 18
From 1999 to 2000 births grew by 10436
From 2000 to 2001 births decreased by 11179
From 2001 to 2002 births decreased by 4362
From 2002 to 2003 births grew by 9574
For 29:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 8396
From 1995 to 1996 births grew by 11838
From 1996 to 1997 births decreased by 6272
From 1997 to 1998 births grew by 2191
From 1998 to 1999 births grew by 3660
From 1999 to 2000 births grew by 5485
From 2000 to 2001 births decreased by 13128
From 2001 to 2002 births grew by 1381
From 2002 to 2003 births grew by 7501
For 30:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 802
From 1995 to 1996 births grew by 6337
From 1996 to 1997 births decreased by 496
From 1997 to 1998 births grew by 4697
From 1998 to 1999 births decreased by 2738
From 1999 to 2000 births decreased by 6953
From 2000 to 2001 births grew by 7365
From 2001 to 2002 births grew by 2158
From 2002 to 2003 births grew by 2008
For 31:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births grew by 3619
From 1995 to 1996 births decreased by 2988
From 1996 to 1997 births decreased by 1320
From 1997 to 1998 births decreased by 1096
From 1998 to 1999 births decreased by 5986
From 1999 to 2000 births grew by 12908
From 2000 to 2001 births grew by 1565
From 2001 to 2002 births decreased by 4002
From 2002 to 2003 births decreased by 308

In [59]:
#difference in each day of the week per year
cross_year_differences(cdc_list,3)

[6, 7, 1, 2, 3, 4, 5]
For 1:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 11276
From 1995 to 1996 births grew by 11947
From 1996 to 1997 births decreased by 4561
From 1997 to 1998 births grew by 7040
From 1998 to 1999 births grew by 1136
From 1999 to 2000 births grew by 12354
From 2000 to 2001 births grew by 7874
From 2001 to 2002 births grew by 2368
From 2002 to 2003 births grew by 14587
For 2:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 12633
From 1995 to 1996 births grew by 12662
From 1996 to 1997 births decreased by 1452
From 1997 to 1998 births grew by 15052
From 1998 to 1999 births grew by 1597
From 1999 to 2000 births grew by 7735
From 2000 to 2001 births decreased by 3967
From 2001 to 2002 births grew by 16996
From 2002 to 2003 births grew by 9243
For 3:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 5580
From 1995 to 1996 births decreased by 4618
From 1996 to 1997 births grew by 12316
From 1997 to 1998 births grew by 5342
From 1998 to 1999 births grew by 6835
From 1999 to 2000 births grew by 14622
From 2000 to 2001 births decreased by 4852
From 2001 to 2002 births decreased by 2851
From 2002 to 2003 births grew by 27260
For 4:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 2344
From 1995 to 1996 births decreased by 8786
From 1996 to 1997 births decreased by 15
From 1997 to 1998 births grew by 24510
From 1998 to 1999 births grew by 1023
From 1999 to 2000 births grew by 17361
From 2000 to 2001 births grew by 542
From 2001 to 2002 births decreased by 5265
From 2002 to 2003 births grew by 7783
For 5:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 3231
From 1995 to 1996 births decreased by 3527
From 1996 to 1997 births decreased by 2609
From 1997 to 1998 births grew by 3128
From 1998 to 1999 births grew by 16202
From 1999 to 2000 births grew by 13053
From 2000 to 2001 births grew by 2723
From 2001 to 2002 births decreased by 1553
From 2002 to 2003 births grew by 5752
For 6:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 15152
From 1995 to 1996 births decreased by 3319
From 1996 to 1997 births decreased by 5421
From 1997 to 1998 births grew by 2936
From 1998 to 1999 births decreased by 3791
From 1999 to 2000 births grew by 19809
From 2000 to 2001 births decreased by 15866
From 2001 to 2002 births decreased by 8158
From 2002 to 2003 births grew by 1675
For 7:
Birth change from previous year to 1994 not available.
From 1994 to 1995 births decreased by 2962
From 1995 to 1996 births decreased by 12454
From 1996 to 1997 births decreased by 8858
From 1997 to 1998 births grew by 2651
From 1998 to 1999 births decreased by 5138
From 1999 to 2000 births grew by 14463
From 2000 to 2001 births decreased by 19335
From 2001 to 2002 births decreased by 5744
From 2002 to 2003 births grew by 1924

In [67]:
#difference per year
cross_year_differences(cdc_list,0)

[1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003]
For 1994:
Birth change from previous year to 1994 not available.
For 1995:
From 1994 to 1995 births decreased by 53178
For 1996:
From 1995 to 1996 births decreased by 8095
For 1997:
From 1996 to 1997 births decreased by 10600
For 1998:
From 1997 to 1998 births grew by 60659
For 1999:
From 1998 to 1999 births grew by 17864
For 2000:
From 1999 to 2000 births grew by 99397
For 2001:
From 2000 to 2001 births decreased by 32881
For 2002:
From 2001 to 2002 births decreased by 4207
For 2003:
From 2002 to 2003 births grew by 68224